html {
    box-sizing: border-box;
}
html,
body {
	height: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: $text;
}
li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 15px;
    color: $text;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.title-left {
    font-size: 30px;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.title-center {
    font-size: 36px;
    text-align: center;
    color: #000;
    max-width: 680px;
    margin: 0 auto;
    span {
        color: $btn;
    }
    p {
        font-size: 16px;
        color: $text;
    }
}
.angle-left {
    padding-left: 25px;
    position: relative;
    &::before {
        content: "\e876";
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
        top: 3px;
        font-size: 10px;
    }
}
.circle-left {
    padding-left: 25px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        border: 1px solid #7b818c;
        border-radius: 50%;
        left: 0;
        top: 3px;
    }
}
  