@import 'vars';
@import 'fonts';
@import 'global';


//-----Start Header

.header__top {
    background-color: $grey;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__btn {
    margin-right: 50px;
    padding: 12px 20px;
    font-size: 14px;
    background-color: $btn;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    color: #fff;
}

.header__user {
    display: flex;
    &-avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 20px;
    }
    &-cash {
        display: block;
        color: $btn;
    }
}
  
.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__bottom-menu {
    text-transform: uppercase;
    font-family: 'Quicksand-Medium', sans-serif;
    li {
       display: inline-block; 
       & + li {
           margin-left: 35px;
       }
    }
    
}

.header__bottom-search {
    max-width: 360px;
    width: 100%;
    position: relative;
    input {
        display: block;
        width: 100%;
        height: 44px;
        border-radius: 23px;
        padding-left: 25px;
        padding-right: 80px;
        border: 1px solid #d9dfe5;
        outline: none;
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background-color: $btn;
        height: 44px;
        width: 70px;
        border-radius: 23px;
    }    
}




//-----End Header