@import 'vars';
@import 'fonts';
@import 'global';


//-----Start Header

.header__top {
    background-color: $grey;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__btn {
    margin-right: 50px;
    padding: 12px 20px;
    font-size: 14px;
    background-color: $btn;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    color: #fff;
}

.header__user {
    display: flex;
    &-avatar {
        margin-right: 20px;
    }
    &-cash {
        display: block;
        color: $btn;
    }
}
  
.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__bottom-menu {
    text-transform: uppercase;
    font-family: 'Quicksand-Medium', sans-serif;
    li {
       display: inline-block; 
       color: #333;
       & + li {
           margin-left: 35px;
       }
       a {
           transition: all .3s;
       }
       a:hover {
           color: $btn;
       }
    }
    
}

.header__bottom-search {
    max-width: 360px;
    width: 100%;
    position: relative;
    input {
        display: block;
        width: 100%;
        height: 44px;
        border-radius: 23px;
        padding-left: 25px;
        padding-right: 80px;
        border: 1px solid #d9dfe5;
        outline: none;
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background-color: $btn;
        height: 44px;
        width: 70px;
        border-radius: 23px;
    }    
}

//-----End Header


//-----Start search

.search {
    padding: 80px 15px 25px;
    background-image: url(../images/search-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    min-height: 280px;
    &__title {
        font-size: 26px;
        margin-bottom: 25px;
        color: #f3f3f8;
        span {
            font-family: 'Quicksand-Medium';
        }
    }
    &__form {
        margin: 0 auto 30px;
        max-width: 555px;
        button {
            color: #fff;
            width: 110px;
            height: 55px;
            border-radius: 28px;
            outline: none;
        }
        input {
            padding-right: 115px;
            height: 55px;
            border-radius: 28px;
        }
    }
}

.breadcrumbs {
    &__list {
        li {
            display: inline-block;
            color: #fff;
            position: relative;
            & + li {
                padding-left: 22px;
                &::before {
                    content: '/';
                    position: absolute;
                    left: 6px;
                }
            }
            a {
                color: #fff;
            }
            &:last-child {
                a,
                span {
                    color: #bfcad7;
                }
            }
        } 
    }
}

//-----End search


//-----Start Preview

.preview {
    background-color: #0d32bd;
    color: #fff;
}
.preview__inner {
    min-height: 725px;
    text-align: center;
    padding-top: 170px;
    position: relative;
    &-title {
        font-size: 60px;
        line-height: 70px;
        span {
            font-family: 'Quicksand-Bold', sans-serif;
            display: block;
            margin-bottom: 30px;
        }
    }
    &-text {
        font-family: 'Quicksand-Medium', sans-serif;
        font-size: 20px;
        margin-bottom: 60px;
    }
    &-btn {
        padding: 18px 32px;
        border: 1px solid #fff;
        border-radius: 28px;
        color: #fff;
        transition: all .3s;
        &:hover {
            background-color: #fff;
            color: $btn;
        }
    }
    a + a {
        margin-left: 30px;
    }
    &-box {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: translateY(50%);
        max-width: 1140px;
        height: 135px;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        padding-top: 40px;
        z-index: 0;
        &::before {
            content: "";
            background-color: rgba(#fff, .5);
            border-radius: 6px;
            max-width: 1110px;
            height: 135px;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 13px;
            z-index: -1;
        }
        &::after {
            content: "";
            background-color: rgba(#fff, .5);
            border-radius: 6px;
            max-width: 1080px;
            height: 135px;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 26px;
            z-index: -2;
        }
    }
}
.preview__box-search {
    max-width: 807px;
    width: 100%;
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    input {
        display: block;
        height: 54px;
        width: 100%;
        padding-left: 25px;
        padding-right: 220px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
    }
    .dropdown {
        position: absolute;
        color: #747474;
        top: 0;
        right: 0;
        max-width: 195px;
        width: 100%;
        height: 54px;
        border: 1px solid #dcdcdc;
        border-top-right-radius: 4px;
        text-align: center;
        padding-left: 20px;
    }
    button {
        position: absolute;
        top: 0;
        right: -250px;
        color: #fff;
        height: 54px;
        padding: 0 66px;
        background-color: $btn;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

//-----End Preview
//-----Start features

.features {
    padding: 185px 0 115px;
}
.features__inner {
    display: flex;
    justify-content: space-around;
}
.features__item {
    text-align: center;
    max-width: 360px;
    min-height: 401px;
    padding: 40px 36px;
    transition: all .2s;
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-images {
        width: 112px;
        height: 112px;
        margin: 0 auto 35px;
    }
    &-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
}
.BG {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    left: 780px;
    top: 1091px;
    width: 361px;
    height: 403px;
    z-index: 692;
  }
  

//-----End features
//-----Start slider

.slider {
    background-color: $grey;
    padding: 120px 0;
    &__title {
        margin-bottom: 50px;
    }
}
  
.slider__item {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    &-images {
        img {
            display: block;
        }
    }
    &-content {
        position: relative;
        padding: 50px 60px 22px 50px;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    }
    &-title {
        font-family: 'Quicksand-Medium', sans-serif;
        font-size: 24px;
        margin-bottom: 15px;
    }
    &-name {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        img {
            margin-right: 10px;
        }
        span {
            color: $purple;
            margin-left: 20px;
            padding-left: 20px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-image: url(../images/icons/wp.svg);
                width: 15px;
                height: 15px;
                left: 0;
            }
        }
        
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    &-tags {
        margin-bottom: 30px;
        a {
            background-color: $tag;
            padding: 4px 15px;
            border-radius: 14px;
            color: $tagtext;
        }
        a + a {
            margin-left: 7px;
        }
    }
    &-info {
        padding-top: 30px;
        border-top: 1px solid #ececec;
        a + a {
            margin-left: 20px;
        }
    }
}
.slider__info-price {
    font-family: 'Quicksand-Medium', sans-serif;
    color: #fff;
    padding: 5px 20px;
    background-color: $btn;
    border-radius: 16px;
}
.slider__info-hearth {
    position: relative;
    padding-left: 25px;
    &::before {
        content: "\e813";
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'Linearicons-Free';
        color: $ico;
    }
}
.slider__info-basket {
    position: relative;
    padding-left: 25px;
    color: $btn;
    &::before {
        content: "\e82e";
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'Linearicons-Free';
        color: $btn;
    }
}
.slick-arrow {
    position: absolute;
    top: -125px;
    right: 30px;
    background-color: $ico;
    border: none;
    padding: 12px 25px;
    outline: none;
    cursor: pointer;
}
.slick-prev {
    right: 90px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.slick-next {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.slider__info-star {
    position: absolute;
    right: 55px;
    bottom: 45px;
}

//-----End slider
//-----Start release

.release {
    background-color: #f6f7fb;
    padding: 120px 0;
}
.release__title {
    margin-bottom: 25px;
}
.release__inner-btn {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 50px;
    button {
        border:none;
        border-radius: 16px;
        background-color: $tag;
        color: $tagtext;
        padding: 10px 15px;
        outline: none;
        cursor: pointer;
        &.mixitup-control-active {
            background-color: $btn;
            color: #fff;
        }
    }
}
.release__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.release__item {
    max-width: 360px;
    min-height: 530px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    .slider__item-images {       
        position: relative;
        .slider__images-inner {
            opacity: 0;
            transition: all .3s linear;
        }
        &:hover .slider__images-inner{
            opacity: 1;
        } 
        .slider__images-box {
            position: absolute;
            background: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
            width: 360px;
            height: 230px;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                margin-top: auto;
                margin-bottom: auto;
                padding: 14px 30px;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 23px;
                transition: all .3s;
                & + a {
                    margin-left: 10px;
                }
                &:hover {
                    background-color: #fff;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                    color: $btn;                                          
                }
            }
        }
        img {
            width: 360px;
            height: 230px;
        }
        
    }
    .slider__item-content {
        padding: 30px 30px 15px;
    }
    .slider__item-title {
        font-size: 20px;
        color: #000;
    }
    .slider__info-price {
        padding: 5px 15px;
        background-color: #e6f1fd;
        color: $btn;
    }
    .slider__item-info {
        display: flex;
        align-items: center;
        padding-top: 15px;
        border-top: none;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            border-top: 1px solid #ececec;
            height: 1px;
            width: 360px;
            left: -30px;
            top: 0;
        }
    }
    .slider__info-hearth {
        margin-left: 15px;
        margin-right: 10px;
        padding-left: 18px;
    }
    .slider__info-basket {
        margin-left: auto;
    }
}
.release__bottom-btn {
    margin-top: 50px;
    text-align: center;    
    font-size: 16px;
    button {
        background-color: $btn;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        border:none;
        padding: 20px 30px;
        border-radius: 28px;
        color: #fff;
        outline: none;
        cursor: pointer;
    }
}

  
  

//-----End release
//-----Start followers

.followers {
    background-color: #eff1f5;
    padding: 120px 0;
    &__title {
        margin-bottom: 50px;
    }
    .slick-arrow {
        background-color: $btn;
    }
}
.followers__slider {
    .slick-slide {
        width: 390px;
        // margin-left: 10px;
    }
}


//-----End followers


//-----Start progress

.progress {
    padding: 160px 0 90px;
    background-color: #212225;
    margin-bottom: 110px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.progress__item {
    text-align: center;
    &-title {
        color: #feb71d;
        font-size: 36px;
        margin-bottom: 15px;
        position: relative;
        font-family: 'Quicksand-Regular' !important;
        &::before {
            position: absolute;
            font-family: 'Linearicons-Free';
            right: 0;
            left: 0;
            top: -80px;
            margin: 0 auto;
            font-size: 46px;

        }
        &.lnr-cloud-download {
            color: #58c9e9;
        }
        &.lnr-smile {
            color:#77de51
        }
        &.lnr-users {
            color: #ff6a6d;
        }
    }
    &-text {
        font-size: 18px;
        color: #fff;
    }
}


//-----End progress


//-----Start advantages

.advantages {
    padding-bottom: 90px;
    &__title {
        margin-bottom: 55px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.advantages__item {
    width: 360px;
    height: 375px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    padding: 150px 33px 0;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    span {
        position: absolute;
        top: 15px;
        left: 20px;
        color: #5c87f8;
        font-size: 48px;
        opacity: .2;
    }
    &-title {
        color: #000 !important;
        font-size: 24px;
        font-family: 'Quicksand-Regular' !important;
        margin-bottom: 30px;
        position: relative;
        &::before {
            position: absolute;
            font-family: 'Linearicons-Free';
            left: 0;
            right: 0;
            top: -85px;
            font-size: 60px;            
        }
        
    }
    .lnr-license::before {
        color: $btn;
    }
    .lnr-magic-wand::before {
        color: #7f4ec2;
    }
    .lnr-lock::before {
        color: #77de51;
    }
    .lnr-chart-bars::before {
        color: #feb71d;
    }
    .lnr-leaf::before {
        color: #58c9e9;
    }
    .lnr-phone::before {
        color: #ff6a6d;
    }
    &-text {
        font-size: 16px;
        line-height: 24px;
    }
}


  

//-----End advantages


//-----Start possibility

.possibility {
    &__wrapper {
        display: flex;
    }
    &__inner {
        max-width: 960px;
        width: 100%;
        height: 561px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.possibility__item {
    text-align: center;
    padding-top: 100px;
    &-images {
        margin-bottom: 45px;
    }
    &-title {
        font-size: 36px;
        color: #fff;
        margin-bottom: 30px;
    }
    &-text {
        font-size: 16px;
        max-width: 585px;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 65px;
    }
}

.possibility-btn {
    background-color: #fff;
    color: $btn;
    &-left {
        color: $ico;
        background-color: #fff;
    }
}

//-----End possibility


//-----Start feedback

.feedback {
    padding: 110px 0 140px;
    &__title {
        margin-bottom: 55px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
    }
    &__item {
        width: 555px;
        height: 315px;
        padding: 50px 40px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-left: 2px solid $btn;
    }
    &__user {
        display: flex;
        position: relative;
        &::before {
            position: absolute;
            right: 0;
            font-size: 60px;
            color: #e8e8e8;
        }
    }
    &__text {
        font-size: 16px;
        color: #565656;
        line-height: 24px;
    }
}

  
.feedback__user-avatar {
    margin-right: 20px;
    margin-bottom: 25px;
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}

.feedback__user-name {
    font-family: 'Quicksand-Regular' !important;
    font-size: 20px;
    color: #000;
    padding-top: 15px;
    span {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        color: $text;
    }
}

.feedback-bottom {
    text-align: center;
}
.feedback-btn {
    background-color: $btn;
    &:hover {
        border: 1px solid $btn;
    }
}

//-----End feedback


//-----Start news

.news {
    padding: 120px 0;
    background-color: #eff1f5;
    &__title {
        margin-bottom: 55px;
    }
}

.news__inner {
    display: flex;
    justify-content: space-between;
    .release__item {
        min-height: 477px;
        border-radius: 4px;
        .slider__item-content {
            min-height: 246px;
        }
    }
}

.news__item-date {
    padding-left: 25px;
    margin-right: 80px;
    color: #989898;
    position: relative;
    &::before {
    content: "\e864";
    font-family: 'Linearicons-Free'; 
    position: absolute;
    left: 0;
    color: $btn;
    }
}
.news__item-comment {
    padding-left: 20px;
    margin-right: 30px;
    color: #7e7e7e;
    position: relative;
    &::before {
        content: "\e83f";
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
    }
}
.news__item-eye {
    padding-left: 20px;
    color: #7e7e7e;
    position: relative;
    &::before {
        content: "\e81b";
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
    }
}

//-----End news


//-----Start additions

.additions {
    padding: 60px 0;
    &__inner {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
}

.additions__item {
    &-images {
        margin-bottom: 30px;
    }
    &-text {
        font-size: 24px;
        color: #000;
        span {
            color: $btn;
        }
        .support {
            color: #6849bc;
        }
    }
}


//-----End additions


//-----Start join

.join {
    background-image: url(../images/join-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 105px 0;
    text-align: center;
    &__title {
        font-size: 36px;
        color: #fff;
        margin-bottom: 15px;
    }
    &__text {
        font-size: 18px;
        color: #e7e7e7;
        margin-bottom: 65px;
    }
    &-btn {
        background-color: #fff;
        color: $btn;
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
}


//-----End join


//-----Start footer

.footer {
    
    color: #ababab;
    background-color: #262b30;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &-logo {
        font-family: 'Quicksand-Bold';
        font-size: 24px;
        color: #fff;
        display: flex;
        align-items: center;
        img {
            margin-right: 7px;
        }
        span {
            color: $btn;
        }
    }
    &__bottom {
        text-align: center;
        span {
            color: #fff;
        }
    }
    &__content {
        padding: 100px 0;
    }
    &__bottom {
        padding: 35px 0;
        background-color: #192027;
    }
}

.footer__item {
    max-width: 270px;
    &-title {
        font-size: 18px;
        margin-bottom: 25px;
        color: #fff;
        &.footer-logo {
            font-size: 24px;
            line-height: 24px;
            padding-left: 45px;
            position: relative;
            a {
                color: #fff;
                margin-bottom: 0;
            }
            &::before {
                content: "";
                position: absolute;
                background-image: url(../images/footer-logo.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 40px;
                width: 40px;
                left: 0;
            }
        }
    }
    &-text {
        color: #ababab;
        line-height: 25px;
        margin-bottom: 25px;
    }
    &-phone {
        padding-left: 25px;
        position: relative;
        &::before {
            content: "\e830";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
        }
    }
    &-support {
        padding-left: 25px;
        position: relative;
        &::before {
            content: "\e818";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
        }
    }
    &-map {
        padding-left: 25px;
        position: relative;
        &::before {
            content: "\e833";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
    a {
        display: block;
        color: #ababab;
        margin-bottom: 15px;
    }
    ul {
        a {
            transition: all .3s;
        }
        a:hover {
            color: #fff;
        }
    }
    &-center {
        max-width: 135px;
        width: 100%;
    }
    &-last {
        max-width: 370px;
    }
    input {
        height: 50px;
        border-radius: 25px;
        margin-bottom: 40px;
    }
    button {
        color: #fff;
        width: 110px;
        height: 50px;
        border-radius: 25px;
    }
    &-links {
        display: flex;
        text-align: center;
        font-size: 16px;
        a {
            color: #fff;
            line-height: 40px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            & + a {
                margin-left: 10px;
            }
        }
        .icon-facebook-f {
            background-color: #395799;
        }
        .icon-twitter {
            background-color: #19b2f5;
        }
        .icon-google {
            background-color: #f05b44;
        }
        .icon-pinterest  {
            background-color: #9c0c1c;
        }
        .icon-linkedin {
            background-color: #0da6be;
        }
        .icon-dribbble {
            background-color: #ea4c89;
        }
    }
}



//-----End footer


//-----Start page-menu

  
.page-menu {
    padding: 24px 0;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-links {
            font-size: 16px;
            a.active {
                color: $btn;
            }
            a + a {
                margin-left: 35px;
            }
        }
        &-sort {
            display: flex;
            align-items: center;
            select {
                width: 220px;
                height: 44px;
                padding-left: 16px;
                border-color: #eceff2;
                border-radius: 3px;
                color: #747b86;
                & + select {
                    margin-left: 25px;
                }
            }
        }
        &-btn {
            width: 95px;
            height: 44px;
            margin-left: 25px;
            border: 1px solid #eceff2;
            border-radius: 3px;
            justify-content: space-around;
            display: flex;
            outline: none;
            align-items: center;
            button {
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
    &__grid {
        position: relative;
        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__list {
        position: relative;
        svg {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}



//-----End page-menu


//-----Start page-content

.page-content {
    background-color: #eff1f5;
    padding: 75px 0 110px;
}

.page__aside-item {
    max-width: 265px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 25px;
}

  
.page__aside-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #000;
    padding-bottom: 25px;
    border-bottom: 1px solid #e7ebee;
    button {
        background-color: transparent;
        border: none;
        font-size: 12px;
        outline: none;
    }
}

.page__aside-list {
    padding-top: 25px;
    li {
        position: relative;
        span {
            position: absolute;
            right: 0;
        }
    }
    li + li {
        margin-top: 20px;
    }
    .active {
        color: $btn;
    }
}

.irs {
    margin-bottom: 90px;
    &-min,
    &-max {
        display: none;
    }
}

.irs-handle {
    &:hover {
        background-color: transparent;
    }
}
.irs--flat .irs-line {
    height: 6px;
}
.irs--flat .irs-bar {
    height: 6px;
    background-color: $ico;
}

.irs--flat .irs-handle {
    width: 0;
    top: 19px;
}

.irs--flat .irs-handle>i:first-child {
    width: 18px;
    height: 18px;
    border: 4px solid $btn;
    border-radius: 50%;
    background-color: #fff;
    &:hover {
        background-color: #fff;
    }
}

.irs--flat .irs-handle>i {
    background-color: #fff;
}

.irs--flat{
    .irs-handle.state_hover {
    
        background-color: transparent;
    
} 
}

.irs-from, .irs-single, .irs-to  {
    top: 45px;
}

.irs-handle.from {
    &:hover {
        background-color: transparent;
    }
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to  {
    font-size: 15px;
    color: $ico;
    padding: 5px 20px;
    background-color: #f1ecf9;
    border-radius: 16px;
}

.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
    display: none;
}

.range-slider__btn {
    text-align: center;
    button {
        background-color: $btn;
        color: #fff;
        padding: 13px 25px;
        font-family: 'Quicksand-Medium';
        border: none;
        border-radius: 22px;
        outline: none;
        cursor: pointer;
    }
}
//-----End page-content


